rgba(158,158,158,1)* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
}

html,
body {
  width: 100%;
    min-height: 100%;
    position: relative;
    /*background-image: url("./images/floral1.jpg");*/
    /*background-image: url("./images/city.jpeg");*/
    /*background-image: url("./images/beach-child-clouds.jpg");*/
    background-color: white;
    background-size: 130%;
    background-position: right;
    background-repeat: repeat-y;
}

.sampleOn {
  opacity: 0.3;
}

.header {
  width: 9999px;
  max-width: 100%;
  height: 264px;
  margin: auto;
  background-color: #FFA07A;
  /*background-image: url("./images/book.jpg");*/
  background-size: 100%;
  background-position: center;
  text-align: center;
}

.logo {
  width: 9999px;
  max-width: 100%;
  text-align: center;
  padding: 25px;
  padding-top: 10px;
}

.logo h1 {
  font-family: "Sacramento", 'sans-serif';
  font-size: 70px;
  color: white;
  text-align: center;
  max-width: 100%;
  height: 100%;
}

#logoLine {
  font-size: 24px;
  height: 100%;
  width: 9999px;
  max-width: 100%;
}

#logoLine p {
  padding-top: 0px;
}
.logo p {
  width: 350px;
  max-width: 100%;
  margin: auto;
  font-family: "Tajawal", 'sans-serif';
  color: rgba(255,255,255,0.6);
  font-size: 16px;
  font-style: italic;
}


.mainContent {
  height: 100%;
  margin-bottom: 10px;
}
#navLinks {
  float: left;
  font-size: 10vw;
  position: relative;
  margin-bottom: 20px;
  background-color: rgba(0,0,0,0.0);
  width: 99999px;
  max-width: 100%;
  height: 200px;
  font-family: Tajawal, 'sans-serif';
  font-weight: bold;
  /*background-image: url("./images/book-coffee.jpg");*/
  background-size: 100%;
  background-position: center;

}

#navLinks a {
  margin: auto;
}

#navLinks a:hover {
  background-color: rgba(0,0,0,0.0);
}

#nav h2 {
  font-family: 'Anton', sans-serif;
}




.introPic {
  background-image: url("./images/beach-child-clouds.jpg");
  width: 9999px;
  max-width: 100%;
}
.introBody {
  margin: auto;
  padding-top: 0px;
  /*width: 500px;*/
  width: 100%;
  max-width: 100%;
  text-align: center;
}



.introBodyVideo {
  margin: auto;
  width: 500px;
  height: 300px;
  /*width: 40%;*/
  background: rgba(255,255,255,0.9);
  text-align: center;
  margin-top: 200px;
  border-radius: 5px;
  padding: 1px;
}

.content {
  background: rgba(255,255,255,0.0);
  width: 1000px;
  max-width: 100%;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,0.1);
  height: 50%;
  font-family: 'Tajawal', "sans-serif";
  font-size: 25px;
  padding: 20px;
  padding-top: 10px;
  margin: auto;
  margin-top: 10px;
  color: rgba(158,158,158,1);
}

.content h4 {
  font-size: 30px;
}

.content p {
  font-size: 19.5px;
  margin-bottom: 25px;
}

.content i {
  font-size: 19px;
}
.contentVideo {
  margin-top: 10px;
  height: 250px;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
}

#contentYourStory {
  border-style: none !important;
  padding-bottom: 15px;
  padding-top: 5px;
}
#contentYourStory p {
  margin: 10px;
}

.contentVideo iframe {
    width: 500px;
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
}

.yourStoryContent {
  height: 100%;
  width: 1100px;
  max-width: 100%;
  margin: auto;
}

.yourStoryContent iframe {
  width: 900px;
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
}

.buttonSection {
  width: 50%;
  margin: auto;
  margin-top: 5px;
  text-align: center;
}


.buttonSection button {
  color: #ffab40;
  font-weight: 800;
  border-style: none;
  background: none;
  cursor: pointer;
  font-size: 40px;
  font-family: Tajawal, 'sans-serif';
  text-align: center;
  width: 100%;
}
#endVideo {
  color: #ffab40;
  font-weight: 500;
  border-style: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  font-family: Tajawal, 'sans-serif';
  text-align: center;
  width: 100%;
}

.buttonSection i {
  font-size: 28px;
}

.buttonSection a {
  color: #ffab40;
  font-weight: 500;
  border-style: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  font-family: Tajawal, 'sans-serif';
  text-align: center;
  width: 50%;
  margin-left: 10px;
}

.sampleButton {
  padding: 0px;
  text-align: center;
}

#sampleButton {
  color: #ffab40;
  font-weight: 500;
  border-style: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
  font-family: Tajawal, 'sans-serif';
  text-align: center;
  width: 50%;
  margin-left: 10px;
  opacity: 0.8;
}

.formTitle {
  color: rgb(158,158,158);
  font-family: Tajawal, 'sans-serif';
  height: 40px;
  background-color: rgba(255,255,255,0.0);
  text-align: center;
  width: 500px;
  max-width: 100%;
  font-size: 22px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 10px;
}

.formSection {
  width: 650px;
  max-width: 100%;
  background-color: rgba(255,255,255,0.9);
  margin: auto;
  font-family: Tajawal, arial, 'sans-serif';
  margin-bottom: 25px;
  padding: 10px;
  border-bottom: solid;
  border-left: solid;
  border-right: solid;
  border-width: .5px;
  border-color: rgba(0,0,0,0.05);
  border-radius: 5px;
}

.formSection label {
  font-size: 20px;
}
.radioGroup {
  margin-top: 5px;
}

.radioHeader {
  color: rgb(158,158,158);
  font-size: 16px;
}

.radioChoice1 {
  width: 45%;
  float: left;
  margin-right: 2px;
}

.radioChoice2 {
  float: right;
  width: 45%;
  margin-left: 2px;
}

.storyInput {
  height: 50%;
  width: 100%;
}

.lessonHeader {
  text-align: left;
  color: rgba(158,158,158,1);
}

.lessonHeader p {
  margin-left: 12px;
}

.termsLink {
  cursor: pointer;
}

.terms {
  font-size: 12px;
  padding: 5px;
  border-style: solid;
  border-color: rgba(158,158,158,0.3);
  border-radius: 5px;
  height: 130px;
  overflow-y: scroll;
}
.terms strong {
  font-weight: bold !important;
}

.submit {
  color: #ffab40;
  font-weight: 800;
  border-style: none;
  background: none;
  cursor: pointer;
  font-size: 25px;
  font-family: Tajawal, 'sans-serif';
  margin-left: 10px;
}

.noSubmit {
  color: #ffab40;
  opacity: 0.5;
  border-style: none;
  background: none;
  font-size: 25px;
  font-family: Tajawal, 'sans-serif';
  margin-left: 10px;
}


.storyControl {
  background: rgba(255,255,255,0.5);
  padding: 1px;
  margin:auto;
  text-align: center;
  margin-top: 50px;
}

.thanksContent {
  background: rgba(255,255,255,0.0);
  width: 800px;
  max-width: 100%;
  border-width: 1px;
  border-color: rgba(0,0,0,0.1);
  height: 50%;
  font-family: 'Tajawal', "sans-serif";
  font-size: 28px;
  padding: 20px;
  margin: auto;
  color: rgba(158,158,158,1);
  text-align: center;
}

.thankYou a {
  font-size: 25px;
  color: #ffab40;
  font-family: 'Tajawal', "sans-serif";
}

.connect {
  width: 9999px;
  max-width: 100%;
  text-align: center;
  padding: 1px;
  font-size: 30px;
}

.connectLinks {
  margin-top: 1px;
}

.contact {
  width: 800px;
  max-width: 100%;
  font-family: 'Tajawal', "sans-serif";
  margin: auto;
  padding-left: 66px;
  padding-right: 70px;
  color: rgba(158,158,158,1);
}
.contact h6 {
  font-size: 20px;
}
.contact a {
  font-size: 17px;
}

.footer {
  bottom: 0;
  padding: 20px;
  font-family: Tajawal, 'sans-serif';
}

.footerRight {
  float: left;
  width: 50%;
}
.footerLeft {
  float: left;
  height: 100%;
  text-align: center;
  width: 50%;
}

.footerLeft p {
  float: right;
}
.sampleContainer {
  text-align: center;
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  top: 0;
  width: 99999px;
  max-width: 100%;
  padding-right: 390px;
  padding-left: 390px;
  margin: auto;
  background-color: rgba(255,255,255,0,6);
}

@media screen and (max-width: 580px) {
  .logo h1 {
    font-size: 40px;
  }
  .logo p {
    font-size: 14px;
  }
  .content {
    padding-top: 1px;
  }
  .content h4 {
    font-size: 24px;
  }
  .content p {
    font-size: 17px;
  }
  #contentYourStory {
    border-style: none;
  }
  .buttonSection i {
    font-size: 28px;
  }
  #endVideo {
    font-size: 16px;
  }
  #logoLine {
    font-size: 20px;
  }
  .contact {
    padding-left: 10px;
  }
  .formTitle {
    margin-bottom: 35px;
    font-size: 20px;
  }
  .sampleContainer {
    padding: 10px;
  }
}

@media screen and (max-width: 366px) {
  .logo h1 {
    font-size: 36px;
  }
}

@media screen and (max-width: 325px) {
  .logo h1 {
    font-size: 32px;
  }
}
